Source/Quintity.TestFramework/Quintity.TestFramework.Runtime/Connected Services/TestListenersService/Quintity.TestFramework.Runtime.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Runtime" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Runtime" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfTestListenerDescriptor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestListenerDescriptor" nillable="true" type="tns:TestListenerDescriptor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestListenerDescriptor" nillable="true" type="tns:ArrayOfTestListenerDescriptor" />
  <xs:complexType name="TestListenerDescriptor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="Status" type="q1:Status" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="OnFailure" type="q2:OnFailure" />
      <xs:element minOccurs="0" name="Assembly" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parameters" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestListenerDescriptor" nillable="true" type="tns:TestListenerDescriptor" />
</xs:schema>