Source/Quintity.TestFramework/Quintity.TestFramework.Runtime/Connected Services/TestListenersService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Runtime" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" />
  <xs:element name="ServiceAvailability">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceAvailabilityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestMethodResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Runtime" minOccurs="0" name="testListeners" nillable="true" type="q1:ArrayOfTestListenerDescriptor" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="testProfile" nillable="true" type="q2:TestProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitializeServiceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTestExecutionBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="args" nillable="true" type="q3:TestExecutionBeginArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTestExecutionComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="args" nillable="true" type="q4:TestExecutionCompleteArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTestSuiteExecutionBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="testSuite" nillable="true" type="q5:TestSuite" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="args" nillable="true" type="q6:TestSuiteBeginExecutionArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTestPreprocessorBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="testSuite" nillable="true" type="q7:TestSuite" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="args" nillable="true" type="q8:TestProcessorBeginExecutionArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTestPreprocessorComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="testSuite" nillable="true" type="q9:TestSuite" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="testProcessorResult" nillable="true" type="q10:TestProcessorResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTestPostprocessorBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="testSuite" nillable="true" type="q11:TestSuite" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="args" nillable="true" type="q12:TestProcessorBeginExecutionArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTestPostprocessorComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="testSuite" nillable="true" type="q13:TestSuite" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="testProcessorResult" nillable="true" type="q14:TestProcessorResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTestSuiteExecutionComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="testSuite" nillable="true" type="q15:TestSuite" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="testSuiteResult" nillable="true" type="q16:TestSuiteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTestCaseExecutionBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="testCase" nillable="true" type="q17:TestCase" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="args" nillable="true" type="q18:TestCaseBeginExecutionArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTestCaseExecutionComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="testCase" nillable="true" type="q19:TestCase" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="testCaseResult" nillable="true" type="q20:TestCaseResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTestStepExecutionBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="testStep" nillable="true" type="q21:TestStep" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="args" nillable="true" type="q22:TestStepBeginExecutionArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTestStepExecutionComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="testStep" nillable="true" type="q23:TestStep" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="testStepResult" nillable="true" type="q24:TestStepResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTestCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="testCheck" nillable="true" type="q25:TestCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTestWarning">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="testWarning" nillable="true" type="q26:TestWarning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTestTrace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="virtualUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="traceMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTestMetric">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="virtualUser" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" minOccurs="0" name="args" nillable="true" type="q27:TestMetricEventArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>